.App {
  text-align: center;
}

 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-app {
  background-color: #4e1fbd;
}

.buttonsave {
  background-color: rgb(2, 137, 210);
  color: white;
}

.container-app {
  font-family: cursive;
}

.list-task {
  color: #4e1fbd;
  background-color: white;
  border-radius: 20px !important;
  border: 1px solid  rgb(2, 137, 210); ;
}

.button-del {
  color: #4e1fbd;

}

.list-task-container {
  background-color: #4e1fbd;
}
.section{
  font-family: cursive;
}
select{
   font-family: cursive !important;
   border-radius: 25px !important;
}
button{
   font-family: cursive !important;

}

.btn-next{
  
  color: white;
   border-radius: 20px;
   background-color: rgb(2, 137, 210);;
   border: none;

}
.header1{
   font-family: cursive;
}
 
